*, *:before, *:after {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    color: #333;
    line-height: 1.5;
}
a {
    text-decoration: none;
    color: inherit;
}
.back {
    position: fixed;
    width: 100%;
    height: 100%;
}
.back .bgImg {
    width: 100%;
    height: 100%;
}
.back .bgImg img {
    width: 100%;
    height: 100%;
}
#logo {
    text-align: center;
    font-size: 36px;
    margin: 100px 0;
    z-index: 9999;
}
.container {
    width: 600px;
    margin: auto;
}
.bg.on {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 999;
}
#btn {
    width: 100px;
    height: 20px;
}
#btn button {
    position: absolute;
    border: 4px solid #fff;
    background-color: transparent;
    padding: 10px 25px;
    color: #fff;
    font-size: 50px;
}
#btn .start {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
}
#btn .retry {
    z-index: 9999;
    color: rgb(116, 116, 116);
    border: none;
    top: 20%;
    left: 65%;
    z-index: 1;
}
#btn .retry:hover {
    transform: rotate(360deg);
    transition: 0.8s ease;
}
#card li {
    width: 24%;
    margin: 0.5%;
    border: 2px solid #d9d9d9;
    position: relative;
    height: 150px;
    float: left;
    transform: perspective(500px);
    transform-style: preserve-3d;
}
#card li > div {
    position: absolute;
    backface-visibility: hidden;
    height: 100px;
    width: 100%;
    left: 0;
    top: 0;
}
#card li .front {
    height: 100%;
    background-image: url("../images/blueprint.gif");
}
#card li .back {
    transform: rotateY(-180deg) perspective(500px);
    height: 100%;
}
#card .cat .back {
    background-color: rgb(255, 226, 226);
}
#card .chick .back {
    background-color: rgb(226, 255, 241);
}
#card .dog .back {
    background-color: rgb(253, 255, 226);
}
#card .duck .back {
    background-color: rgb(244, 226, 255);
}
#card .monkey .back {
    background-color: rgb(255, 226, 248);
}
#card .panda .back {
    background-color: rgb(227, 255, 226);
}
#card .pig .back {
    background-color: rgb(230, 226, 255);
}
#card .tiger .back {
    background-color: rgb(226, 234, 255);
}
#card li img {
    width: 100%;
}