*, *:before, *:after {
    box-sizing: border-box;
}
html {
    font-size: 12px;
}
body {
    font-family: "Titillium Web", "Noto Sans KR", sans-serif;
    color: #333;
    line-height: 1.5;
}
a{
    text-decoration: none;
    color: inherit;
}
#header {
    height: 50px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 9999;
    /* postition:fixed하면 없는셈치고 넓이가지지않게됨
    z-index값 입력해주고 넓이값 입력 */
    /* 크기이외의것(header:after부분) 삭제 */
    
}
#logo {
    position: absolute;
    left: 20px;
    z-index: 2;
}
#logo a {
    padding: 15px 0;
    display: block;
    /* a는 inline이라 넓이를 주려면 block처리해야함 */
}
#logo a img {
    height: 20px;
}
#gnb {
    background-color: #fff;
    position: fixed;
    top: 50px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
body.open #gnb {
    top: 50px;
}
#gnb .list > li .depth01 {
    display: block;
    height: 50px;
    line-height: 50px;
    /* height와 line-height를 같게하면 중간으로 위치 */
    font-size: 14px;
    font-weight: 500;
    padding-left: 20px;
    border-bottom: 1px solid #d9d9d9;
}
#gnb .list li .depth02 {
    background-color: #f8f8f8;
    display: none;
}
#gnb .list li .depth02 a {
    padding: 10px 0 5px 30px;
    display: block;
    position: relative;
    border-bottom: 1px solid #d9d9d9;
}
#gnb .list li .depth02 a:before {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    background-color: #333;
    border-radius: 100px;
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    /* position:absolute는 부모의 위치로따라가서 부모한테가서
    position넣어줘야함 */
}
#gnb .list > li:nth-child(1) .depth02 {
    border: none;
}
#header .utilMenu {
    height: 0;
}
/* 첫번째 li에있는 depth02선택  */
#header .utilMenu .btnAll span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #333;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    transition: 0.25s ease;
}
#header .utilMenu .btnAll span:nth-child(1) {top: 15px;}
#header .utilMenu .btnAll span:nth-child(2) {top: 25px;}
#header .utilMenu .btnAll span:nth-child(3) {top: 35px;}
body.open #header .utilMenu .btnAll span:nth-child(1) {
    top:24px;
    transform:rotate(45deg);
}
body.open #header .utilMenu .btnAll span:nth-child(2) {
    top:24px;
    opacity: 0;
}
body.open #header .utilMenu .btnAll span:nth-child(3) {
    top:24px;
    transform:rotate(-45deg);
}

.titleBox {
    margin-bottom: 30px;
    text-align: center;
}
h2 .small {
    display: block;
    font-size: 16px;
}
h2 {
    font-size: 20px;
    font-weight: 500;
}
h2 + p {
    margin-top: 10px;
}
.container {
    margin-top: 0 auto;
    width: 100%;
}
/* h2 바로밑에있는 p태그 */
.section {
    height: 100vh;
    width: 100%;
    display: table;
}
.section .inner {
    display: table-cell;
    vertical-align: middle;
}
/* display table쓰는 이유
    자식의 기본넓이가 작을경우 부모의 넓이도 작다
    하지만 부모의 넓이를 넓히기 위해 table을 사용한다. */

#footer {
    padding: 20px 10px;
    display: block;
    background-color: #222;
    color: #fff;
    font-size: 13px;
}