html {
    font-size: 16px;
}
body {
    font-family: "Titillium Web", "Noto Sans KR", sans-serif;
    color: #333;
    line-height: 1.5;
    background-color: #999;
}
a{
    text-decoration: none;
    color: inherit;
}
#header {
    height: 90px;
    background-color: #fff;
    position: fixed;
    z-index: 9999;
    left: 90px;
    right: 90px;
    top: 50px;
    /* postition:fixed하면 없는셈치고 넓이가지지않게됨
    z-index값 입력해주고 넓이값 입력 */
    overflow: hidden;
    /* 크기이외의것(header:after부분) 삭제 */
    transition: 0.25s ease;
}
#header.open {
    height: 390px;
}
#header::after{
    content: "";
    display: block;
    background-color: #333;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 90px;
    z-index: -1;
}
#logo {
    position: absolute;
    left: 50px;
}
#logo a {
    padding: 20px;
    display: block;
    /* a는 inline이라 넓이를 주려면 block처리해야함 */
}
#gnb .list {
    text-align: center;
    /* 가운데 정렬하려는 곳 바로 위의 부모에 text-align:center; 입력 */
    font-size: 0;
    /* header 사이에 벌어진사이가 있을떄 부모한테 font-size: 0 을주고 
        자식한테 font-size를 준다. */

}
#gnb .list > li {
    display: inline-block;
    /* 가운데 정렬하려는 곳 바로 위의 부모에 text-align:center; 입력 */
    vertical-align: top;
    /* height와 line-height를 같게하면 중간으로 위치 */
    font-size: 16px;
    /* header 사이에 틈이있을떄 부모한테 font-size: 0 을주고 
        자식한테 font-size를 준다. */
}
#gnb .list .depth01 {
    height: 90px;
    line-height: 90px;
    /* height와 line-height를 같게하면 중간으로 위치 */
    font-size: 18px;
    font-weight: 500;
    padding: 0 45px;
}
#gnb .list li .depth02 {
    color: #fff;
    padding: 20px 0 20px 20px;
    text-align: left;
    border-left: 1px solid rgba(255,255,255,0.2);
    height: 260px;
}
#gnb .list li .depth02 a {
    padding: 5px 0 5px 10px;
    display: block;
    position: relative;
}
#gnb .list li .depth02 a::before {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 100px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    /* position:absolute는 부모의 위치로따라가서 부모한테가서
    position넣어줘야함 */
}
