<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>검색</title>
    <style>
        li {
            list-style: none;
            float: left;
            margin: 10px;
        }
        #app {
            width: 1200px;
            margin: auto;
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- <h1 id="h1">{{msg}}</h1>
        <input type="text" v-model="msg"> -->
        <input type="text" v-model="movieTitle" v-on:keyup="searchMovie(movieTitle)">
        <p>{{movieTitle}}</p>
        <ul>
            <li v-for="movie in movies">
                <img v-bind:src="movie.img" alt="">
                <p>{{movie.title}}</p>
                <p>{{movie.num}}</p>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        // let h1 = document.querySelector("#h1");
        // h1.textContent = "hello Vue";

        let app = new Vue({
            el: "#app", 
            data: {
                //msg: "hello Vue",
                movieTitle: "",
                originalMovies: [
                    {img: "https://picsum.photos/id/152/300/200", title: "남산의 부장들", num: 7000000},
                    {img: "https://picsum.photos/id/252/300/200", title: "동산의 부장들", num: 5000000},
                    {img: "https://picsum.photos/id/523/300/200", title: "지리산의 부장들", num: 800000},
                    {img: "https://picsum.photos/id/400/300/200", title: "남산의 차장들", num: 2000000},
                    {img: "https://picsum.photos/id/55/300/200", title: "남산의 고양이들", num: 5000000},
                    {img: "https://picsum.photos/id/652/300/200", title: "기생충없는 고양이", num: 800000},
                    {img: "https://picsum.photos/id/27/300/200", title: "고양이", num: 2000000},
                    {img: "https://picsum.photos/id/88/300/200", title: "먐미", num: 5000000},
                    {img: "https://picsum.photos/id/92/300/200", title: "귀여운고양이", num: 800000},
                    {img: "https://picsum.photos/id/110/300/200", title: "나만없어 고양이", num: 2000000},
                    {img: "https://picsum.photos/id/131/300/200", title: "고양이쵝오", num: 5000000},
                    {img: "https://picsum.photos/id/122/300/200", title: "남산의 부장들", num: 7000000},
                    {img: "https://picsum.photos/id/53/300/200", title: "동산의 부장들", num: 5000000},
                    {img: "https://picsum.photos/id/64/300/200", title: "지리산의 부장들", num: 800000},
                    {img: "https://picsum.photos/id/585/300/200", title: "남산의 차장들", num: 2000000},
                    {img: "https://picsum.photos/id/316/300/200", title: "남산의 고양이들", num: 5000000},
                    {img: "https://picsum.photos/id/1/300/200", title: "기생충없는 고양이", num: 800000},
                    {img: "https://picsum.photos/id/188/300/200", title: "고양이", num: 2000000},
                    {img: "https://picsum.photos/id/819/300/200", title: "먐미", num: 5000000},
                    {img: "https://picsum.photos/id/222/300/200", title: "귀여운고양이", num: 800000},
                    {img: "https://picsum.photos/id/583/300/200", title: "나만없어 고양이", num: 2000000},
                    {img: "https://picsum.photos/id/8/300/200", title: "고양이쵝오", num: 5000000},
                ],
                movies: [],
            },
            created:function() {
                this.movies = this.originalMovies.slice();
            },
            computed: {

            },
            methods: {
                searchMovie:function(search) {
                    this.movies = this.originalMovies.filter(function(item) {
                        if(item.title === search.trim()) {
                            return true;
                        }
                    });
                    console.log(search.trim());    //  .trim() 공백제거
                    
                }
            },
        });
    </script>
</body>
</html>