*, *:before, *:after {
    box-sizing: border-box;
}
body {
    color: #333;
}
a {
    line-height: 1.6;
    font-size: 16px;
    color: inherit;
    font-family: arial, "Noto Sans KR", sans-serif;
    text-decoration: none;
}
#header {
    width: 100%;
    height: 101px;
    position: fixed;
    z-index: 9999;
    text-align: center;
    transition: 0.25s ease;
    overflow: hidden;
}
#logo {
    position: absolute;
    left: 20%;
}
#logo img {
    height: 100%;
    padding: 30px 0;
}
#gnb {
    color: #fff;
    font-size: 0;
}
#gnb .depth01 {
    display: inline-block;
    vertical-align: top;
    position: relative;
}
#gnb .depth01 > a {
    display: block;
    padding: 37px 30px;
    font-size: 18px;
    font-weight: 700;
}
#gnb .depth01:hover .depth02 {
    display: block;
}
#gnb .depth02 {
    position: absolute;
    text-align: left;
    background-color: #fff;
    display: none;
    left: 50%;
    transform: translateX(-50%);
}
#gnb .depth02 li {
    width: 200px;
    border-bottom: 1px solid #d9d9d9;
    padding: 0 20px;
}
#gnb .depth01:nth-child(1) .depth02 li {
    width: 180px;
}
#gnb .depth01:nth-child(3) .depth02 li {
    width: 150px;
}
#gnb .depth01:nth-child(4) .depth02 li {
    width: 170px;
}
#gnb .depth01:nth-child(5) .depth02 li {
    width: 160px;
}
#gnb .depth02 li a {
    display: block;
    color: #444;
    padding: 10px 0;
}
#gnb .depth02 li:hover a {
    color: #888;
}
#lang {
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
}
#lang a {
    padding: 5px 20px;
    display: inline-block;
    background-color: #333;
    color: #fff;
    margin-right: -6px;
    font-size: 14px;
    font-weight: 700;
}
#lang a.on {
    background-color: #1eb8f6;
}
#header .hide {
    position: absolute;
    top: -100%;
    height: 101px;
    width: 100vw;
    background-color: rgba(26,43,85,0.8);
    text-align: right;
    transition: 0.5s ease;
}
#header .hide:hover {
    background-color: #1a2b55;
}
#header .hide #gnb {
    margin-right: 20%;
}
#header.tl .view {
    display: none;
}
#header.tl .hide {
    top: 0;
}