#mainVisual {
    position: relative;
    width: 100vw;
    overflow: hidden;
}
#mainVisual .mask {
    height: 100vh;
}
#mainVisual ul .main01 {
    background: url("../images/bg/main01.jpg") no-repeat;
    background-size: cover;
}
#mainVisual ul .main02 {
    background: url("../images/bg/main02.jpg") no-repeat;
    background-size: cover;
}
#mainVisual ul .main03 {
    background: url("../images/bg/main03.jpg") no-repeat;
    background-size: cover;
}
#mainVisual .txtBox {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
}
#mainVisual .txtBox .main {
    font-size: 30px;
    color: rgba(255,255,255,0.5);
    position: relative;
    margin-bottom: 70px;
    font-weight: 500;
}
#mainVisual .txtBox .main:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background-color: rgba(255,255,255,0.5);
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
}
#mainVisual .txtBox .sub {
    font-size: 40px;
    color: #fff;
    line-height: 1.6;
    font-weight: 700;
}
#mainVisual .btns button {
    padding: 10px;
}
#mainVisual .btns .pre {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 1%;
    z-index: 1;
    background-color: rgba(0,0,0,0.2);
    transition: 0.25s ease-in-out;
    opacity: 0;
}
#mainVisual .btns .next {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 1%;
    background-color: rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.25s ease-in-out;
    opacity: 0;
}
#mainVisual .btns i {
    color: #fff;
    font-size: 30px;
}
#mainVisual:hover .btns .pre {
    left: 2%;
    opacity: 1;
}
#mainVisual:hover .btns .next {
    right: 2%;
    opacity: 1;
}
.scroll {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.scroll img {
    width: 100%;
}

/* quick start */
#quick {
    width: 100vw;
    background: url("../images/bg/main_q.jpg") no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}
#quick .txtBox {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
}
#quick .txtBox .main {
    font-size: 30px;
    color: rgba(255,255,255,0.5);
    position: relative;
    margin-bottom: 70px;
    font-weight: 500;
}
#quick .txtBox .main:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background-color: rgba(255,255,255,0.5);
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
}
#quick .txtBox .sub {
    font-size: 40px;
    color: #fff;
    line-height: 1.6;
    font-weight: 700;
}
#quick .scroll {
    bottom: 15%;
}
#quick .bar {
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100vw;
    background-color: #1a2b55;
}
#quick .bar ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#quick .bar li {
    display: inline-block;
    position: relative;
}
#quick .bar li:before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    left: -14px;
}
#quick .bar li:nth-child(1):before {
    display: none;
}
#quick .bar li > a {
    color: #fff;
    font-size: 18px;
    padding: 20px 40px 20px 70px;
    position: relative;
}
#quick .bar li > a img {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

/* util start */
#utillScroll {
    width: 100vw;
}
.scrollableContent {
    overflow-y: scroll;
}
#util {
    width: 1200px;
    max-height: 3000px;
    margin: auto;
}
#util .box h2 {
    font-size: 20px;
    margin: 30px 0;
}
#util .box h2 .line {
    display: inline-block;
    background: linear-gradient(274deg, rgba(30,184,246,1) 0%, rgba(26,43,85,1) 100%);
    height: 4px;
    width: 25px;
    margin: 0 10px 5px 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#util .box h2 .color {
    font-size: 20px;
    color: #1eb8f6;
}
#util .depth01 {
    width: 100%;
    height: 100%;
}
#util .depth01 h2 {
    margin: 100px 0 30px;
}
#util .depth01:after {
    content: "";
    display: block;
    clear: both;
}
#util .depth01 .imgBox {
    height: 300px;
    float: left;
}
#util .depth01 .imgBox img {
    height: 100%;
}
#util .depth01 .txtBox {
    float: right;
    width: 835px;
    font-size: 0;
}
#util .depth01 .txtBox .txtBox01 {
    width: 100%;
    display: block;
    background-color: #fff;
    height: 170px;
    position: relative;
}
#util .depth01 .txtBox .txtBox01 p {
    text-align: center;
    color: #666;
    font-weight: 600;
    padding: 40px 0;
    height: 170px;
    font-size: 16px;
    line-height: 2;
}
#util .depth01 .txtBox .txtBox01 p strong {
    color: #333;
    font-weight: 600;
    font-size: 26px;
}
#util .depth01 .txtBox .txtBox01 p .color {
    color: #1eb8f6;
}
#util .depth01 .txtBox .txtBox01 img {
    position: absolute;
}
#util .depth01 .txtBox .txtBox01 .left {
    top: 30%;
    left: 10%;
}
#util .depth01 .txtBox .txtBox01 .right {
    top: 30%;
    right: 10%;
}
#util .depth01 .txtBox .txtBox02 {
    display: inline-block;
    width: 417.5px;
    height: 130px;
    background-color: #d9d9d9;
    position: relative;
}
#util .depth01 .txtBox .txtBox02 p {
    text-align: center;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    width: 300px;
}
#util .depth01 .txtBox .txtBox03 {
    display: inline-block;
    width: 417.5px;
    height: 130px;
    background-color: #1a2b55;
    position: relative;
}
#util .depth01 .txtBox .txtBox03 p {
    text-align: center;
    display: block;
    width: 300px;
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#util .depth02 {
    width: 760px;
    margin-right: 50px;
}
#util .depth02 .tapMenu {
    width: 100%;
}
#util .depth02 .tapMenu:after {
    content: "";
    display: block;
    clear: both;
}
#util .depth02 .tapMenu li {
    text-align: center;
    height: 64px;
    display: inline-block;
    width: 20%;
    float: left;
    background-color: #f4f4f4;
}
#util .depth02 .tapMenu li a {
    display: inline-block;
    height: 64px;
    width: 100%;
    font-size: 14px;
    padding: 21px 0;
    
}


#util .depth02 .tapMenu.on li {
    background-color: #fff;

}
/* http://manos.malihu.gr/ 스크롤 js */