<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEMO</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Noto+Sans+KR:300,400,500,700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="../js/memo.js" defer></script>
</head>
<body>
    <div id="app">
        <header id="header">
            <span class="title">MEMO</span>
            <a href="" class="btnPrev" @click.prevent="changeMode('list')"><i class="xi-arrow-left"></i></a>
        </header>
        <main id="main">
            <div id="view" v-if="mode==='list'">
                <ul>
                    <li v-for="memo in memos">
                        <span @click="showMemo(memo.id)">{{memo.title}}</span>
                        <button class="btnDelete" @click="deleteMemo(memo.id)"><i class="xi-trash"></i></button>
                    </li>
                </ul>
            </div>
            <div id="write" v-else="">
                <p>
                    <input type="text" id="title" v-model="title" ref="txt">
                </p>
                <p>
                    <textarea name="" id="contents" cols="30" rows="10" v-model="contents"></textarea>
                </p>
                <div class="btns">
                    <button class="btnSave btn" @click="saveMemo">SAVE</button>
                    <button class="btnCancel btn" v-if="mode==='write'" @click="changeMode('list')">CANCEL</button>
                    <button class="btnRemove btn" v-if="mode==='modify'" @click="removeMemo" >REMOVE</button>
                </div>
            </div>
            <button id="btnAdd" @click="changeMode('write')"><i class="xi-plus"></i></button>
        </main> 
    </div>
    
</body>
</html>